.body-content { margin-top: 50px; }

.authorize-panel { margin-top: 25%; }

.authorize-panel .panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}

.authorize-panel .panel-heading .panel-title { font-size: 24px !important; }

.authorize-panel .panel-heading hr { margin-bottom: 0; }