.body-content { margin-top: 50px; }

.authorize-panel { margin-top: 25%; }

.authorize-panel .panel-heading {
    background-color: transparent !important;
    border-color: transparent !important;
}

.authorize-panel .panel-heading .panel-title { font-size: 24px !important; }

.authorize-panel .panel-heading hr { margin-bottom: 0; }

.wrapper > nav {
    border: none;
    margin-bottom: 0;
}
.wrapper .navbar-default {
    background-color: white;
}

.page-wrapper {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: calc(100vh - 50px);
    border-left: 1px solid #e6e6e6;
    margin-left: 250px;
}

.sidebar {
    position: absolute;
    /*bottom: 0;*/
    margin-top: 65px;
    width: 250px;
    z-index: 1;
}

#logoutForm {
    margin-right: 0;
}

.col-actions {
    padding: 4px 0 0 0!important;
}