@using System.Globalization
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@{
    IgnoreBody();
    var locale = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;
    if (locale == "uk")
    {
        locale = $"{locale}-UA";
    }
    if (locale == "ru")
    {
        locale = $"{locale}-RU";
    }
    if (locale == "en")
    {
        locale = $"{locale}-US";
    }
}
<div id="table-toolbar">
    @RenderSection("tableToolbar")
</div>
<table data-toolbar="#table-toolbar"
       data-toggle="table"
       data-cookie="true"
       data-cookie-id-table="pageNumbers"
       data-buttons-class="primary"
       data-search="true"
       data-only-info-pagination="false"
       data-pagination="true"
       data-page-size="5"
       data-classes="table table-no-bordered"
       data-show-columns="true"
       data-minimum-count-columns="2"
       data-show-footer="false"
       data-page-list="[5, 10, 25, 50, 100, ALL]"
       data-single-select="true"
       data-locale="@locale">
    <thead>
    <tr>
        @RenderSection("tableHeader")
    </tr>
    </thead>
    <tbody>
    @RenderSection("tableBody")
    </tbody>
</table>
