@model StudioBMS.Business.DTO.Models.OrderViewModel
@{
    Layout = "Forms/BaseForm";
    ViewData["FormClass"] = "order-panel";
}

<div id="order">
    <form asp-area="" asp-controller="Home" asp-action="Order" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#order">
        @Html.Partial("Forms/_OrderFormPartial", Model, ViewData)
    </form>
</div>