@model ServiceModel
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@{
    var title = TitleLocalizer["CreateService"];
    ViewData["Title"] = title;
    ViewData["H1"] = title;
}

<div class="panel panel-default">
    <div class="panel-body row">
        <form class="form-horizontal col-md-6 col-md-offset-3" asp-area="Services" asp-controller="Services" asp-action="Create" method="post">
            @Html.Partial("_ServiceForm", Model, ViewData)
        </form>
    </div>
</div>