@model ForgotPasswordViewModel
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@{
    ViewData["Title"] = $"{TitleLocalizer["ForgotYourPassword"].Value}?";
}

<div class="row">
    <div id="recovery" class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        @{ await Html.RenderPartialAsync("PasswordRecovery/PasswordRecoveryForm", Model); }
    </div>
</div>
