@using StudioBMS.Messages
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<MessageResource> MessageLocalizer
@{
    ViewData["Title"] = TitleLocalizer["Warning"];
    Layout = "Forms/BaseForm";
    ViewData["FormClass"] = "authorize-panel";
}

<p>
    @MessageLocalizer["CheckEmailPasswordReset"]
</p>