<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <span>Stepanov Valentyn</span>
            <span class="pull-right">Visazist</span>
        </h4>
    </div>
    <div class="panel-body pre-scrollable" style="min-height: calc(100vh - 180px); overflow-y: auto">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>
                            <i class="fa fa-clock-o"></i> 12:20 - 14:00
                        </strong>
                        <br />
                        <span style="font-size: 13px;">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Stepanov Valentyn
                        </span>
                    </div>
                    <div class="col-xs-4 col-actions">
                        <div class="btn-group text-center">
                            <a href="#" class="btn btn-success btn-sm">
                                <i class="fa fa-check fa-fw"></i>
                            </a>
                            <a href="#" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-sm">
                                <i class="fa fa-close fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item"><i class="fa fa-bars"></i> Cras justo odio</li>
                <li class="list-group-item"><i class="fa fa-bars"></i> Cras justo odio</li>
                @*<li class="list-group-item">Cras justo odio</li>*@
            </ul>
            <div class="panel-footer">footer</div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-8">
                        <strong>
                            <i class="fa fa-clock-o"></i> 12:20 - 14:00
                        </strong>
                        <br />
                        <span style="font-size: 13px;">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            Stepanov Valentyn
                        </span>
                    </div>
                    <div class="col-xs-4 col-actions">
                        <div class="btn-group text-center">
                            <a href="#" class="btn btn-success btn-sm">
                                <i class="fa fa-check fa-fw"></i>
                            </a>
                            <a href="#" class="btn btn-info btn-sm">
                                <i class="fa fa-pencil fa-fw"></i>
                            </a>
                            <a href="#" class="btn btn-danger btn-sm">
                                <i class="fa fa-close fa-fw"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                @*<li class="list-group-item">Cras justo odio</li>*@
            </ul>
            <div class="panel-footer">footer</div>
        </div>
  
    </div>
</div>