@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@using StudioBMS.Business.DTO.Models.ViewModels
@model IList<PersonModel>
@{
    ViewData["Title"] = TitleLocalizer["Journal"];
    var journalModel = ViewData["JournalModel"] as JournalViewModel;
}
<div class="row" style="padding: 10px 0;">
    <div class="col-lg-1">
        <a class="btn btn-block btn-primary"><i class="fa fa-angle-left"></i> @DateTime.Now.ToString("d")</a>
    </div>
    <div class="col-lg-10">
        @Html.Partial("_JournalPartial", journalModel, ViewData)
    </div>
    <div class="col-lg-1">
        <a class="btn btn-block btn-primary">@DateTime.Now.ToString("d") <i class="fa fa-angle-right"></i></a>
    </div>
</div>
<div class="row">
    @foreach (var worker in Model.Take(4))
    {
        <div class="col-lg-3">
            @Html.Partial("_PersonJournalPartial", worker)
        </div>
    }
</div>