<div class="panel panel-primary base-panel @ViewData["FormClass"]">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h3 href="#" class="panel-title text-primary">@ViewData["Title"]</h3>
            </div>
        </div>
        <hr/>
    </div>
    <div class="panel-body">
        @RenderBody()
    </div>
</div>