@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<ModelResource> ModeLocalizer
@model IList<WorkshopModel>
@{
    var title = TitleLocalizer["Workshops"];
    ViewData["Title"] = title;
    ViewData["H1"] = title;
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_WorkshopTablePartial", Model)
            </div>
        </div>
    </div>
</div>