@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@model IList<OrderModel>
@{
    var title = TitleLocalizer["Orders"];
    ViewData["Title"] = title;
    ViewData["H1"] = title;
}
<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @Html.Partial("_OrderTablePartial", Model)
            </div>
        </div>
    </div>
</div>
