@model PaymentViewModel
@inject IHtmlLocalizer<PageTitleResource> TitleLocalizer
@inject IHtmlLocalizer<ModelResource> ModelLocalizer
@{
    var title = TitleLocalizer["Pay"];
    ViewData["Title"] = title;
    ViewData["H1"] = title;
}
<div class="panel panel-default">
    <div class="panel-body row">
        <form class="form-horizontal col-md-6 col-md-offset-3" asp-area="Orders" asp-controller="Orders" asp-action="SubmitPayment" method="post">
            <div class="well col-xs-12">
                <p>Some info</p>
            </div>
            <div class="col-xs-12">
                <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label>@ModelLocalizer[nameof(Model.Balance)]</label>
                    <input asp-for="Balance" class="form-control" type="number" step="0.1"/>
                </div>
            </div>
            <div class="col-xs-12 row">
                <div class="col-xs-6 col-xs-offset-3">
                    <button class="btn btn-primary btn-block" type="submit">@ModelLocalizer["Confirm"]</button>
                </div>
            </div>
        </form>
    </div>
</div>